<div id="customer">
<h1>Customer </h1>

  <form id="new_customer" method="post" action="/customer">
    <div class="customer_gender"><input type="text" name="customer[gender]" placeholder="Gender"><span></span></div>
    <div class="customer_first"><input type="text" name="customer[first_name]" placeholder="First name"><span></span></div>
    <div class="customer_middle"><input type="text" name="customer[middle_name]" placeholder="Middle name"><span></span></div>
    <div class="customer_last"><input type="text" name="customer[last_name]" placeholder="last Name"><span></span></div>
    <div class="customer_address_st"><input type="text" name="customer[address_street]" placeholder="Street"><span></span></div>
    <div class="customer_address_city"><input type="text" name="customer[address_city]" placeholder="City"><span></span></div>
    <div class="customer_address_country"><input type="text" name="customer[address_country]" placeholder="Country"><span></span></div>
    <div class="customer_zip_code"><input type="text" name="customer[zip_code]" placeholder="ZipCode"><span></span></div>
    <div class="customer_email"><input type="text" name="customer[email]" placeholder="Email"><span></span></div>
    <div class="submit"><input type="submit" value="Continue"></div>
  </form>

</div>