<div id="nav">

  <% if current_user %>
     <button id="sign-out" >Logout</button>
  <% else %>

  <h1>Sign In</h1>

  <% if @error %>
  <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/session">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

</div>
<div class="container">
  <h1 class="blink">Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <div id="name-input"><input type="text" name="user[name]" placeholder="username" ><span></span></div>
    <div id="email-input"><input type="email" name="user[email]" placeholder="email" ><span></span></div>
    <input type="password" name="user[password]" placeholder="Password,8 or more characters">
    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>
  <% end %>

</div>
