<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <div id="name-input"><input type="text" name="user[name]" placeholder="username" ><span></span></div>
    <div id="email-input"><input type="email" name="user[email]" placeholder="email" ><span></span></div>
    <input type="password" name="user[password]" placeholder="Password,8 or more characters">
    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
